.archive-page {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: calc(100vh - 290px);

  .by-month {
    width: 350px;
    padding-left: 20px;
    border-left: 1px solid rgba(0,0,0,0.2);
    div {
      margin-bottom: 30px;
    }
    h4 {
      text-transform: uppercase;
    }
  }
}
