.hero{
  // background-image: url("http://www.mediavat.co.uk/images/vat.jpg");
  background-image: url("https://images.unsplash.com/photo-1532005051008-7bdebde54683?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1488&q=80");
  height: calc(100vh - 260px);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  // background-position: bottom;
}
