.admin-posts-container {
  max-width: 640px;
  margin: 30px auto;
  h3 {
    margin-bottom: 30px;
  }
  form {
    div.input {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
    }
    label {
      font-size: 12px;
    }
  }
}
