<div class="admin-nav">
  <div>
    <!-- <h1>The Media Vat</h1> -->
    <h1>Admin</h1>
    <!-- <h6>ADMIN</h6> -->
  </div>

  <ul>
    <li>
      <!-- <i class="fas fa-thumbtack"></i> -->
      <%= link_to 'Posts', admin_posts_path %>
    </li>

    <li>
      <!-- <i class="fas fa-tags"></i> -->
      Categories
    </li>

    <li>
      <!-- <i class="fas fa-comments"></i> -->
      Comments
    </li>

    <li>
      <!-- <i class="fas fa-sign-out-alt"></i> -->
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete  %>
    </li>
  </ul>
</div>

