<div class="contact-page">
  <div class="contact-content">
    <div class="left-col">
      <div class="contact-img" style='background-image: url(<%= image_path 'papa-plane-bw.jpg' %>)'></div>
      <%#= image_tag("papa-plane") %>
    </div>
    <div class="right-col">
      <h2>Get in Touch</h2>
      <ul class="social-bar">
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-linkedin-in"></i></li>
        <li><i class="fab fa-facebook-f"></i></li>
      </ul>

      <div class="contact-details">
        <p>To get in contact or make an enquiry, you can contact <strong>The Media Vat</strong> team at <span>hello@mediavat.co.uk</span>.  We will endeavour to answer your query as soon as possible.</p>
        <p>If you would like to make a contribution, we'd love to hear from you.  Please send your submissions to <span>submissions@mediavat.co.uk</span></p>
      </div>
    </div>
  </div>
</div>
