// .admin-page {
//   display: flex;
//   .admin-nav {
//     width: 300px;
//     height: calc(100vh - 50px);
//     border-right: 1px solid rgba(0,0,0,0.2);
//     // background-color: black;
//     ul {
//       margin-top: 30px;
//       li {
//         margin-bottom: 20px;
//         i {
//           width: 30px;
//         }
//       }
//     }
//   }
// }


.admin-page {
  .admin-nav {
    height: 60px;
    background-color: black;
    color: white;
    padding: 5px 20px;
    align-items: center;
    display:flex;
    .nav-content {
      max-width:1000px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        display: flex;
        li {
          margin-left: 30px;
          font-size: 12px;
          a {
            color: white;
          }
          i {
            width: 30px;
          }
        }
      }
    }
  }
}
